.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  opacity: .5;
}

input {
  padding: 8px 16px;
  font-size: 1.75rem;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

p {
  font-size: 2rem;
  margin-bottom: 10px;
}

p.result {
  font-weight: bold;
  color: #ff0000;
}

p.result.correct {
  color: #00cc00;
}
